.contenedor3 {
    width: 100%;
    height: 100%;
    /*  padding-left: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*-----------------*/

.Presentation3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 1.5rem;
}

.Presentation3 img {
    width: auto;
    height: 8rem;
    display: flex;
    justify-items: left;
    padding-right: 2rem;
}

.addRecipe {
    width: 80%;
    background-color: #051011;
    /* min-height: 100vw; */
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* ------------- */

.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.prettierForm {
    width: 50%;
    /*  margin-left: auto;
    margin-right: auto; */
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*  box-shadow: 3px 3px 5px 1px white; */
    background-color: white;
    color: black;
    padding: 1rem;
}

.checkSelect {
    width: 50%;
    /* margin-left: auto;
    margin-right: auto; */
    align-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    padding: 1rem;
}


/* ********************** */

.goBackButton {
    color: white;
    background-color: #ff1616;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px white;
    cursor: pointer;
}

.goBackButton:hover {
    color: #ce5249;
    background-color: rgb(231, 218, 218);
}

.submitButton {
    color: white;
    background-color: #ff1616;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px white;
    cursor: pointer;
}

.submitButton:hover {
    color: #ff1616;
    background-color: rgb(231, 218, 218);
}


/* ********************** */

.msg {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    padding-bottom: 0.5rem;
    flex-direction: column;
    justify-content: center;
    font-weight: 900;
    /*   text-shadow: 3px 2px 3px white; */
}

.msgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 3px;
    font-weight: 700;
    color: black;
    /*  text-shadow: 3px 2px 3px rgba(112, 44, 44); */
}


/* ********************** */

.nameInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5rem;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dietTyp {
    /* display: flex;
    flex-direction: column; */
    color: black;
    background-color: white;
}

.checks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/* ********************** */

.errors {
    font-family: sans-serif;
    color: #ff1616;
    font-size: 14px;
}


/*--------------------------------------- RESPONSIVE  ---------------------------------------------*/

@media all and (max-width: 900px) {
    .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
    }
    .prettierForm {
        width: 100%;
    }
    .checkSelect {
        width: 100%;
    }
}