.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.Presentation {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Presentation img {
    width: auto;
    height: 8rem;
    display: flex;
    justify-items: left;
    padding-right: 2rem;
}

.initialMsg {
    display: flex;
    padding-top: 4rem;
    font-style: italic;
    font-weight: 700;
    /* text-shadow: 6px 4px 5px white; */
}


/*--------------------------------*/

.zonaBotones {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addButton {
    color: white;
    background-color: #ff1616;
    font-size: calc(0.8rem+0.5vw);
    text-align: center;
    /* margin: 0.5rem; */
    padding: 0.5rem;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px white;
    cursor: pointer;
}

.addButton:hover {
    color: #ff1616;
    background-color: white;
}


/*----------------------------*/

.zonaMain {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.zonaSelectOrder {
    width: 15%;
    height: 100%;
    color: white;
    padding: 0.5rem;
}

.selectSort {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    width: 100%;
}

.filters {
    display: flex;
    font-size: calc(1.2rem+0.8vw);
    font-weight: 900;
    padding: 0.5rem;
}


/*----------------------------*/

.zonaMostrar {
    width: 85%;
    height: 100%;
    padding: 0.3rem;
}

.allrecipes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 0.5rem; */
}

.eachRecipe {
    display: flex;
    padding: 0.5rem;
    text-align: center;
}

.linkRecetas {
    text-decoration: none;
    color: white;
    display: inline;
    text-align: center;
    padding: auto;
}

.linkRecetas:visited {
    color: none;
    text-decoration: none;
    text-align: center;
}