.contenedor {
    width: 100vw;
    height: 100vh;
    padding-left: 2rem;
}


/*-----------------*/

.Presentation {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
}

.Presentation img {
    width: auto;
    height: 8rem;
    display: flex;
    justify-items: left;
}


/*--------------*/

.landing {
    width: 100%;
    /* height: 70%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.ingLandPage {
    width: 45%;
    /*  display: flex;
    justify-items: flex-start; */
}

#foto {
    width: 100%;
    height: auto;
}

.textoLandPage {
    width: 55%;
    display: flex;
    flex-direction: column;
    /* background-color: #051011; */
    color: white;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.welcomeMsg {
    display: flex;
    /*  padding: 0.5rem; */
    font-style: italic;
    /* font-size: calc(5rem+0.8vw); */
    font-weight: 700;
    text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
}

.welcomeMsg2 {
    display: flex;
    padding: 0px;
    /*  font-style: italic; */
    /* font-size: calc(2rem+0.8vw); */
    font-weight: 700;
    text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
}

.homeButton {
    color: white;
    background-color: #ff1616;
    text-align: center;
    padding: 10px 25px;
    margin: 15px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px white;
    cursor: pointer;
    float: left;
}

.homeButton:hover {
    color: #ff1616;
    background-color: white;
    font-weight: 900;
}


/*--------------------------------------- RESPONSIVE  ---------------------------------------------*/

@media all and (max-width: 900px) {
    .contenedor {
        padding: 0.5rem;
    }
    .landing {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        padding: 1rem;
    }
    .textoLandPage {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        /* padding: 1rem; */
    }
    .ingLandPage {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        padding-top: 0.5rem;
    }
    #foto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto;
    }
}