.pagination {
    display: flex;
    justify-content: center;
    /*  padding: 10px 5px 5px; */
    padding: 0.5rem;
    width: 100%;
}

.pages {
    /* padding: 1px 300px;
    flex-direction: row;    */
    display: flex;
    height: 30px;
    list-style-type: none;
    justify-content: center;
    box-shadow: 3px 5px 1px white;
    padding: 0 20px 4px;
    border-radius: 7px;
    background-color: white;
}

.pages a:hover {
    background-color: #ce5249;
    color: rgb(231, 218, 218);
}


/* display: flex;
align-content: center;
flex-direction: row;
padding: 1px 5px; */


/* float: left;
transition: 400ms ease; */


/* height: 30px; 
width: 30px;*/

.page {
    list-style-type: none;
}

.pageBtn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: white;
    border-color: white;
    box-shadow: 3px 5px 1px black;
    font-style: italic;
    font-weight: 700;
    text-shadow: 6px 4px 5px black;
    border-radius: 7px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
}

.pageBtn:hover {
    background-color: black;
    color: white;
}