.recipe {
    width: 15rem;
    height: 24rem;
    /*  height: max-content; */
    padding: 0.5rem;
    border: 1px solid black;
    margin: 0.3vw;
    box-shadow: 3px 5px 10px 0 white;
}

.zonaReciImg {
    width: 100%;
    height: auto;
    padding: 0.2vw;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.recipeImg {
    width: 100%;
    height: auto;
}


/*--------------------------*/

.zonaRecipeName {
    width: 100%;
}

.recipeName {
    display: flex;
    color: #fbf859;
    font-weight: 900;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.recipeName:hover {
    overflow: visible;
}

.zonaScore {
    width: 100%;
}

.recipeScore {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


/*--------------------------*/

.listaTiposDieta {
    width: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.listaTiposDieta ul {
    display: flex;
    flex-wrap: wrap;
}

.diets {
    list-style: none;
}