.contenedor2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}


/* ---------- */

.imagenRecipe2 {
    padding-top: 2rem;
    width: 40%;
    height: 50vh;
}

.details {
    width: 60%;
    padding: 1.5rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
}


/* ---------- */

.detailImg2 {
    display: flex;
    box-shadow: 3px 3px 5px 1px white;
    /*  width: 400px;
    height: 250px */
    width: 100%;
    height: auto;
    /* height: 100%;
    width: auto; */
    margin: 0.5rem;
}

.texts {
    font-weight: 900;
    color: #fbf859;
    display: flex;
    justify-content: center;
}


/* ---------------- */

.texts2 {
    font-weight: 900;
    font-style: oblique;
    padding: 0px;
    text-decoration: underline;
    margin-right: 1rem;
}

.ddsh {
    display: flex;
    justify-content: start;
    padding: 0px;
}


/* ---------------- */

.backButton2 {
    color: rgb(231, 218, 218);
    background-color: #ce5249;
    font-size: 17px;
    text-align: center;
    padding: 10px 25px;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 1px rgb(112, 44, 44);
    cursor: pointer;
}

.backButton2:hover {
    color: #ff1616;
    background-color: rgb(231, 218, 218);
}

.dishesanddiets {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
}

.summary {
    text-indent: 1rem;
    text-align: justify;
}

.steps {
    padding-left: 10px;
    text-align: justify;
    list-style: none;
    font-weight: 500;
}


/*--------------------------------------- RESPONSIVE  ---------------------------------------------*/

@media all and (max-width: 900px) {
    .contenedor2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: center;
    }
    .imagenRecipe2 {
        margin: 1.5rem;
        width: 80%;
        padding: auto;
    }
    .details {
        /*  margin: 2rem; */
        width: 100%;
        padding: 1rem;
    }
}